<!DOCTYPE html>
<html lang="en">
<head>
   

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   
    <title>
        {% block head %}{% endblock %}
    </title>

</head>
<body style="background-color:#ccc;">
    <ul>
        <li><a href="/calendar">TutorService</a></li>
        <li><a href="/home">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="">Login</a></li>
    </ul>

    {% block body %}{% endblock %}
</body>
</html>